body{
    padding: 0;
    margin: 0;
    background: #ebf2f7;
    font-family: "ProximaNova","Helvetica","Arial",sans-serif;
    color: #323c45;
}
header {
    display: block;
    background-color: #4FB3F6;
    padding: 10px 16px;
    color: #f1f1f1;
    position:fixed; 
    top: 0;
    width: 100%;
    height: 40px;
}
.header_logo img{
    margin-top: -55px;
    height: 150px;
}
.header_space{
    height: 60px;
}
footer{
    background-color: #fff;
    height: 60px;
    margin: 20px 0 0 0;
    text-align: center;
    padding: 20px
}

.container{
    margin: auto;   
    
    overflow:hidden;
    word-wrap: break-word;
 }
.content {
    background-color: #fff;
}
.navi{
    background-color: #fff;
}
.content_title{
    font-size: 35px;
    margin: 5px 0;
    font-weight: 600;
}
.content_number_of_task{
   font-size: 15px;
    margin: 5px 0;
    color: #696969;
    font-weight: 550; 
}
.content_task{
    font-size: 30px;
    margin: 25px 0;
    font-weight: 500;
}
.content_answer{
    font-size: 25px;
    margin: 25px auto;
    font-weight: 500;
}
.content_answer img{
    width: 100%;
}
.navi_fiz_menu {
    width: 250px;
    height: 15px;
    border-radius: 10px;
    background-color: #abb2b7;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-weight: 550; 
    font-size: 17px;
}
.navi_title{
    text-align: center;
    color: #464646;
    font-weight: 1000; 
    font-size: 25px;
}
.navi_cat_zad{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-color: #4481b3;
    text-align: center;
    color: #fff;
    font-weight: 500; 
    font-size: 18px;
    padding: 5px 0 0 0;
    margin: 10px 0;
    float: left;
}
.navi_cat_txt{
    min-height: 25px;
    margin: 0px 0 10px 160px;
    padding: 5px 0 0 0;
    color: #464646;
    font-weight: 500; 
    font-size: 18px;
    float: none;
}
.navi_cat_main{
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
}


a{
  text-decoration: none;
}
.main_content_text_1{
    color: #4a4a4a;
    font-weight: 1000; 
    font-size: 60px;
}
.main_content_text_2{
    color: #abb2b7;
    font-weight: 700; 
    font-size: 55px;
}
.main_content_text_3{
    color: #5b5b5b;
    font-weight: 550; 
    font-size: 25px;
    padding: 25px 0;
}
.footer_title{
    font-weight: 550; 
    font-size: 25px;
}
.footer_content{
    font-size: 22px;
}




