@media all and (min-width:0px) and (max-width: 1024px) {
    .container{
        width: 90%;
    }
    .content{
        margin: 30px 2px 0 2px;
        padding: 20px 15px;
        
        display: block;
        border-radius: 10px;
    }
    .navi{
        margin: 30px 2px 0 2px;
        padding: 20px 15px;
        
        display: block;
        border-radius: 10px;
    }
    .navi_fiz_menu {
        width: 70%;
        margin: 15px auto;
    }
}


